<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<!-- ========================== 开始:调度作业=========================== -->
	<bean id="UpdateCaseResult" class="tms.spring.quartz.UpdateCaseResult"></bean>

	<!-- 1创建执行任务的类的实例 -->
	<bean id="jobTest" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="UpdateCaseResult"></property>
		<property name="targetMethod" value="execute"></property>
	</bean>

	<!-- 2启动的规则-->
	<bean id ="testTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean" >
		<!-- 注入要执行任务的类的实例 -->
		<property name="jobDetail">
			<ref bean="jobTest"/>
		</property>
		<!-- 配置该触发器,在第一次启动之前等待时间,以毫秒为单位 -->
		<property name="startDelay">
			<value>5000</value>
		</property>
		<!--配置启动任务间隔时间,以毫秒为单位-->
		<property name="repeatInterval">
			<value>7200000</value>
		</property>
	</bean>

    <!-- 3注册触发器,启动调度任务 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="testTrigger" />
            </list>
        </property>
    </bean>
</beans>